force-app/main/default/flows/StgProg_BIBU_SetRelatedRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Course_Id</name>
        <label>Set Course Id</label>
        <locationX>94</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Facility_and_Location</name>
        <label>Set Facility and Location</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Facility.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Facility.TREX1__Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_GL_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GL_Account</name>
        <label>Set GL Account</label>
        <locationX>50</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.GL_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GL_Account.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Program</name>
        <label>Set Program</label>
        <locationX>94</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Course</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Session</name>
        <label>Set Session</label>
        <locationX>94</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Primary_Facility</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Course</name>
        <label>Check for Course</label>
        <locationX>380</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Check_for_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course</targetReference>
            </connector>
            <label>Needs Course</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_GL_Account</name>
        <label>Check for GL Account</label>
        <locationX>380</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_GL_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GL_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GL_Account</targetReference>
            </connector>
            <label>Needs GL Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Primary_Facility</name>
        <label>Check for Primary Facility</label>
        <locationX>380</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_for_GL_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Primary_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facility</targetReference>
            </connector>
            <label>Needs Primary Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Program</name>
        <label>Check for Program</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_for_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program</targetReference>
            </connector>
            <label>Needs Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Session</name>
        <label>Check for Session</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_for_Primary_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Session__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Session</targetReference>
            </connector>
            <label>Needs Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Course</name>
        <label>Check Get Course</label>
        <locationX>226</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Check_for_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Course Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Course_Id</targetReference>
            </connector>
            <label>Got Course</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Facility</name>
        <label>Check Get Facility</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Facility Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Facility_and_Location</targetReference>
            </connector>
            <label>Got Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_GL_Account</name>
        <label>Check Get GL Account</label>
        <locationX>182</locationX>
        <locationY>2903</locationY>
        <defaultConnectorLabel>GL Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_GL_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GL_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GL_Account</targetReference>
            </connector>
            <label>Got GL Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Program</name>
        <label>Check Get Program</label>
        <locationX>226</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_for_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Program Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program</targetReference>
            </connector>
            <label>Got Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Session</name>
        <label>Check Get Session</label>
        <locationX>226</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Check_for_Primary_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Session Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Session</targetReference>
            </connector>
            <label>Got Session</label>
        </rules>
    </decisions>
    <description>Record-triggered, before insert and before update. Set lookups from name fields.</description>
    <environments>Default</environments>
    <interviewLabel>StagedProgram BIBU SetRelatedRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StgProg BIBU SetRelatedRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>226</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Course__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility</name>
        <label>Get Facility</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Facility_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Facility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TREX1__Location__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GL_Account</name>
        <label>Get GL Account</label>
        <locationX>182</locationX>
        <locationY>2795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_GL_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__GL_Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GL_Account_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__GL_Account__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>226</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Program__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>226</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Session_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Session__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Program</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 AND 10) AND 11</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Course__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Course_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GL_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GL_Account_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Facility__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Facility_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Session_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Staged_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
